@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

* {
    cursor: url('../assets/others/cursor.png'), auto;
    color: white;
    font-family: "Pirata One", system-ui;
}

.background {
    background-image: url("../assets/backgrounds/battlefield.jpg");
    background-size: cover;
    height: 100vh;
}

.background, .timer, .row, .graveyardCards, .carousel, .deck, .stats, .stats p, .mid-row, .card-slot {
    display: flex;
}

.background, .timer, .stats {
    flex-direction: column;
}

.background, .stats {
    justify-content: center;
}

.background, .stats, .row, .mid-row, .timer {
    align-items: center;
}

img {
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.row, .mid-row {
    justify-content: space-between;
    width: 80%;
}

.row, .deck img, .graveyardCards img {
    height: 17.86vh;
}

.carousel button img {
    height: 3rem;
}

.deck img {
    transition: transform 0.3s ease;
}

.deck img:hover {
    transform: translateY(-10px);
}

.stats {
    height: 100%;
    width: 17.86vh;
    border-radius: 10%;
    font-size: 1.2rem;
}

.stats img {
    height: 1.5em;
}

.timer, .stats, .graveyard {
    background-color: rgba(0, 0, 0, 0.7);
}

.mid-row {
    justify-content: space-evenly;
}

.card-slot {
    height: 25vh;
}

.card-slot img {
    margin-right: 0.5em;
}

.card-slot img:hover {
    transform: scale(1.05);
}

.last-card {
    height: 50vh;
}

.graveyard {
    position: fixed;
    width: 75%;
    height: 75%;
    padding: 2em;
    border-radius: 3rem;
    z-index: 9999;
}

.graveyardCards {
    flex-wrap: wrap;
}

.timer {
    position: fixed;
    top: -14rem;
    left: 50%;
    transform: translateX(-50%);
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    padding: 1rem;
    z-index: 9999;
    justify-content: end;
    font-size: 1.4rem;
}

@media (max-width: 768px) {
    /* rotate */
}