.friends-page-container {
    display: flex;
    height: 100vh;
    background-image: url("/src/assets/backgrounds/mail_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.friends-sidebar {
    width: 250px;
    display: flex;
    flex-direction: column;
}

.sidebar-header-button {
    width: 100%;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}


.button-container {
    position: relative;
    width: 100%;
    top:10%;
}

.mail-catalog-image {
    width: 100%;
    height: auto;
    display: block;
}

.button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 27px;
    letter-spacing: 3px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    z-index: 1000;
}

.search-section {
    padding: 10px;
}

.search-input {
    width: 100%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
}

.search-results {
    flex: 1;
    overflow-y: auto;
}

.friend-search-result {
    background-color: #8c6330;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid black;
    color: white;
}

.main-content {
    flex: 1;
    padding: 20px;
    position: relative;
}

.mail-content {
    position: absolute;
    top: 10px;
    right: 10px;
    max-width: 400px;
    width: auto;
    max-height: 80vh;
    overflow-y: auto;
    border-radius: 4px;
}

.mail-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
}

.friend-search-result.selected {
    background-color: #6b7280;
}
