main{
    overflow: hidden;
}
#inventory {
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 0;
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: -1;
    }

    .wrapper {
        display: flex;
        height: 100vh;
        z-index: 2;

        .cards {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            width: 70%;
            overflow-y: scroll;
            overflow-x: hidden;

            .stats {
                display: flex;
                justify-content: space-between;
            }
        }
    
        .lastCard {
            width: 30%;
        }
    }
}

.black-and-white img {
    filter: grayscale(100%);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #333333;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 0.5rem;
}
